<div>
    <style>
        .message-container {
            max-width: 600px;
            margin: 3rem auto;
            text-align: center;
            font-family: Arial, sans-serif;
        }
    </style>

    <div class="message-container">
        {{{ body }}}
    </div>
</div>
