{{#layout}}
    <h1>Verify your email address</h1>

    <p>Welcome and thank you for your interest in Greenhouse. Click the link below to verify your email address:</p>
    <p><a href="{{ link }}">Verify Email</a></p>

    <p>If you did not make this request, feel free to let our <a href="{{ supportUrl }}">Support Team</a> know and we'll look into it for you.</p>

    <p>Thanks,<br>Greenhouse Product Team</p>
{{/layout}}
