<form id="verifyForm" action="/api/v1/email/verify" method="POST">
    <input type="hidden" name="userId" value="{{userId}}">
    <input type="hidden" name="token" value="{{token}}">
</form>

<script>
    document.getElementById('verifyForm').submit();
</script>
