<main class="form-template">
    <form
        id="register-form"
        class="form-form"
        method="POST"valid
        action="/api/v1/users"
        enctype="multipart/form-data"
    >
        <div class="register-background"></div>

        <h1 class="form-title">Sign Up</h1>
        <p class="form-text">
        Enter your details below to register for a new account. Fields outlined in <strong class="color-error">RED</strong> are required.
        </p>

        <div class="form-field-group">
            <label for="profilePicture">Profile Picture</label>
            <input id="" name="profilePicture" type="file" />
        </div>

        <div class="form-grid-split">
            <div class="form-field-group">
                <label for="name">Name</label>
                <input id="name" name="name" minlength="6" maxlength="50" required />
            </div>

            <div class="form-field-group">
                <label for="username">Username</label>
                <input id="username" name="username" minlength="2" maxlength="25" />
            </div>
        </div>

        <div class="form-field-group">
            <label for="email">Email Address</label>
            <input id="email" name="email" type="email" minlength="8" maxlength="254" required />
        </div>

        <div class="form-grid-split">
            <div class="form-field-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" minlength="8" maxlength="64" required />
            </div>

            <div class="form-field-group">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" name="confirmPassword" type="password" minlength="8" maxlength="64" required />
            </div>
        </div>

        <button type="submit" class="button success">
            Register <i class="fas fa-lock"></i>
        </button>

        <p class="form-subtext">
            Already have an account? <a class="" href="/login">Sign In</a>
        </p>
    </form>
</main>
